{% extends 'seller/panelBase.html' %}


{% block content %}

<div class="jumbotron vh-100 w-100 d-flex flex-column align-items-center">

    {% if message %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
    {% endif %}

    <div class="text-muted panel-intro text-right border-bottom py-2">
        محصولات من  
    </div>

    <div class="products d-flex pt-4 flex-wrap justify-content-center">

        {% if products %}

            {% for product in products %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.price }} تومان</li>
                    <li class="list-group-item">{{ product.quantity }} عدد</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link">بررسی محصول</a>

                    <a href="#" onclick="document.querySelector('#product{{product.id}}').submit();" class="card-link">ویرایش محصول</a>
                    <form id="product{{ product.id }}" action="{% url 'editProduct' product.id %}" method="POST" style="display:none;">
                        {% csrf_token %}
                    </form>

                    <a href="#" onclick="if(confirm('U really want to delete this product?')){
                        document.querySelector('#product-delete{{product.id}}').submit();
                    }" class="card-link">حذف محصول</a>
                    <form id="product-delete{{ product.id }}" action="{% url 'deleteProduct' product.id %}" method="POST" style="display:none;">
                        {% csrf_token %}
                    </form>

                    </div>
                </div>
            {% endfor %}

        {% else %}

                <div>
                    محصولی وجود ندارد
                </div>

        {% endif %}

    </div>

</div>

{% endblock %}