*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: iransansweb;
}

html , body{
    height: 100%;
}


.navbar-toggler-icon{
    color: white !important;
}

.block-section{
    height: 100vh;
}

/* Register Page and Login Page --- */
div.errors{
    background-color: rgb(255, 80, 80);
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 50%;
}
form#register_form , form#login_form , div.register-intro, form#contact_us_form{
    width: 50%;
}

form#contact_us_form textarea{
    height: 300px;
}

@media only screen and (max-width:600px){
    form#register_form, form#login_form , div.register-intro, div.errors, form#contact_us_form{
        width: 90%;
    }
}