{% extends 'base.html' %}

{% block content %}

<div class="jumbotron vh-100 w-100 d-flex flex-column align-items-center block-section">

        <div class="text-muted register-intro text-right border-bottom py-2">
            ورود به پنل کاربری  
        </div>

        {% if errors %}
        <div id="errors" class="errors mt-4 text-center">
            {{ errors }}
        </div>
        {% endif %}

        <form id="login_form" class="mt-4" dir="rtl" action="{% url 'Login' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label w-100 text-right">نام کاربری:</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label w-100 text-right">رمز عبور:</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button name="submit" type="submit" class="btn btn-primary">ورود</button>
        </form>

</div>

{% endblock %}